.two-column-layout {
  min-width: 400px;
  height: 400px;
}
.two-column-layout .left {
  float: left;
  width: 100px;
  height: 100%;
  background-color: #f66;
}
.two-column-layout .right {
  margin-left: 100px;
  height: 100%;
  background-color: #66f;
}
